name: Docker CI/CD Node App

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker
              uses: docker/setup-buildx-action@v2

            - name: Build Docker Image
              run: docker build -t docker-ts-backend:v1 .

            - name: Deploy to EC2
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  script: |
                      docker stop docker-ts-backend-container || true
                      docker rm docker-ts-backend-container || true
                      docker run -d \
                        -p 5000:5000 \
                        --name docker-ts-backend-container \
                        -v docker-ts-backend-volume:/app/logs \
                        --env-file .env \
                        --restart always \
                        docker-ts-backend:v1
